#container {
  width: 960px;
  height: 540px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  border: solid #000 1px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s linear;
  font-size: 0;
}
.small-img {
  width: 250px;
  height: 200px;
  background-image: url('../img/1.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 300px;
  left: 50px;
  border: solid #000 1px;
}
